/* CSS reset */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* style calculator */

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgb(45, 126, 233) 100%);
    padding: 40px;
    padding-top: 75px;
    border-radius: 25px;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow:
        5px 5px 15px rgba(8, 8, 8, 0.5),
        10px 10px 15px rgba(0, 0, 0, 0.12);
    color: black;
    text-align: right;
    padding-right: 10px;
    border-radius: 5px;
}

.calculator-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    padding-bottom: 5px;
}

button {
    height: 60px;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    font-size: 4rem;
    font-weight: bold;
    margin: 7px;
    padding: 5px;
    flex: 1 0 18%;
    box-shadow:
        -10px -10px 15px rgba(0, 2, 14, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.12);
    outline: none;
}

.all-clear {
    background-color: rgb(255, 51, 0);
    color: white;
    font-size: 3rem;
}

.all-clear:hover {
    background-color: rgb(214, 0, 0);
}

button:hover {
    background-color: rgb(189, 189, 189);
    cursor: pointer;
}